@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,500&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
/*---------------------------------------- CSS INDEX ---------------------------------------------*/
html{
font-size: 2rem;
}

body{
background-image:url(https://images.pexels.com/photos/3893348/pexels-photo-3893348.jpeg?cs=srgb&dl=pexels-anna-3893348.jpg&fm=jpg);
background-repeat: no-repeat;
background-size:cover;
background-color:rgb(209, 18, 18);
}
.menu_superior{
background-color: aliceblue;
opacity: 0.8;
padding: 2px;
text-align: center;
}

.menu_superior ul{
padding: 2px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.menu_superior li{
color: rgb(209, 18, 18);
font-weight:400;
font-style: normal;
font-family: 'Open Sans', sans-serif;
letter-spacing: 2px;
padding: 0px 15px;
border-color: black;
display: block;
}

.img_header{
background-color: rgb(209, 18, 18);
padding: 10px 10px;
}

.img_header h1{
text-align: center;
color: red;
background-color: aliceblue;
font-family: 'Open Sans', sans-serif;
font-size: 1.2rem;
font-weight:700;
font-style: italic;
}

.img_header span{
color: rgb(245, 245, 245); 
background-color: rgb(0, 179, 255);
}

.Historia{
text-align: center;
background-color: aliceblue;
border-radius: 50px;
padding: 10px 20px;
margin: 0.5vh 10vw;
}

.Historia h2{
color: rgb(29, 107, 180);
font-size: 1.2rem;
font-weight:700;
font-style: normal;
font-family: 'Open Sans', sans-serif;
}

.Historia .seccion_historia {
background-color: aliceblue;
padding: 1rem 1rem;
margin: 0.5rem 0.5rem;
color: rgb(0, 0, 0);
font-weight: 400;
font-size: 1rem;
font-style:normal;
font-family: 'Open Sans', sans-serif;
}

.Historia img{
max-width: 100%;
max-height: 100%;
}

.amandaCentenario {
text-align: center;
margin: 2rem;
}

.seccion_beneficios p{
background-color:aliceblue;
border-radius: 5px;
margin-left: 1vw;
text-decoration: solid;
color: rgb(0, 0, 0);
font-weight: 400;
font-size: 1rem;
font-style:normal;
font-family: 'Open Sans', sans-serif;
    }

.beneficios {
background-color: aliceblue;
opacity: 0.8;
border-radius: 5px;
padding: 10px 0px 10px 50px;
margin: 3vw;
}

.seccion_beneficios li{
font-family:'Open Sans', sans-serif;
font-style: normal;
font-size: 0.8rem;
color: black;
text-decoration: solid;
}

.seccion_pasos p{
background-color:aliceblue;
margin-left: 1vw;
border-radius: 5px;
text-decoration: solid;
color: rgb(0, 0, 0);
font-weight: 400;
font-size: 1rem;
font-style:normal;
font-family: 'Open Sans', sans-serif;
}

.pasos {
background-color: aliceblue;
opacity: 0.8;
border-radius: 5px;
padding: 10px 0px 10px 50px;
margin: 3vw;
}

.seccion_pasos li {
font-family:'Open Sans', sans-serif;
font-style: normal;
font-size: 0.8rem;
color: black;
text-decoration: solid;
}

.pasoapaso{
text-align: center;
margin-top: 2rem;
margin-bottom: 2rem;
}

footer{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: aliceblue;
font-size: 30px;
text-align: center;
text-decoration: solid;
display:block;
background-color: rgb(209, 18, 18);
}

/*------------------------<( CSS_FORM )>------------------------------------*/


.body_form {
    padding: 20vh 10% ;

}

.title_container_form h1{
    text-align: center;
    padding: 5vh;
}

.main_form {
    display: flex;
    flex-direction: column;

}

.form_container {
    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
    color: black;
    gap: 5px;
}

.form_container label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 2vw;
}
.input_form {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.form_container p{
    text-align: center;
}